body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f8f8f8;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.form {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  align-items: center;
}

.form input[type='text'] {
  flex: 1;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form button {
  padding: 8px 12px;
  border: none;
  background: #3478f6;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
}

.gallery-item {
  display: block;
}

.card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.card-image {
  width: 100%;
  display: block;
  height: 160px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  padding: 8px;
  flex-wrap: wrap;
}

.info-item {
  margin: 0;
  font-size: 12px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #d1d1d1;
  border-bottom-color: #3f51b5;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  /* вирівнюємо по центру */
  margin: 20px auto;
}

.hidden {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
